<nav class="bg-gray-900">
    <div class="flex justify-between items-center px-4 py-2">
        <!-- Brand -->
        <a class="text-white" href="#">FPoly Product Manager</a>
        <!-- Links -->
        <div class="flex">
            <a class="text-white hover:text-gray-300 px-4 py-2" href="#">Home</a>
            <a class="text-white hover:text-gray-300 ml-10 px-4 py-2" href="#">Product list</a>
        </div>
        <div class="dropdown relative">
            <a class="text-white hover:text-gray-300 py-2 px-4 flex items-center" href="#" id="navbardrop">
                Manager<span class="ml-1">&#9662;</span>
            </a>
            <div class="dropdown-menu absolute hidden text-gray-700 pt-1">
                <a class="dropdown-item block px-4 py-2" href="#">Login</a>
                <a class="dropdown-item block px-4 py-2" href="#">Cart</a>
            </div>
        </div>
    </div>
</nav>