<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="./detail.component.css">
</head>

<body>
    <h2>{{product?.productName}}</h2>
    <div class="container" *ngIf="product">
        <img [src]="product.imageUrl" alt="{{ product.productName }}" />
        <div class="product-info">
            <h2>{{product.productName}}</h2>
            <p><strong>Giá:</strong> <del>{{ product.price }}</del></p>
            <p><strong>Đánh giá sao:</strong>
                <span class="rating">
                    <span *ngFor="let star of [1, 2, 3, 4, 5]">
                        <ng-container *ngIf="star <= product.starRating; else emptyStar">&#9733;</ng-container>
                        <ng-template #emptyStar>&#9734;</ng-template>
                    </span>
                </span>
            </p>
            <p><strong>Mã sản phẩm:</strong> {{ product.productCode }}</p>
            <p><strong>Ngày phát hành:</strong> {{ product.releaseDate }}</p>
            <div class="button-container">
                <button><span>➕</span> Thêm vào giỏ hàng</button>
                <button><span>💳</span> Tiến hành thanh toán</button>
                <button><span>🚚</span> Theo dõi đơn hàng</button>
            </div>
        </div>
    </div>

</body>

</html>