<app-header></app-header>
<div class="container">
  <app-productlist>
  </app-productlist>
</div>
<div class="container mx-auto flex flex-col items-center">
  <div class="border p-2 mt-2">
    <h4 class="text-lg font-bold text-center">Thông tin sinh viên</h4>
    <img class="w-full max-w-sm mx-auto" src="assets/images/{{student.anh}}" alt="">
    <div class="bg-gray-200 p-4 mt-4">
      <ul>
        <li class="flex items-center"><span class="font-bold flex-grow">Họ Tên:</span> {{student.hoten}}</li>
        <li class="flex items-center"><span class="font-bold flex-grow">Giới tính:</span> {{student.gioitinh}}</li>
        <li class="flex items-center"><span class="font-bold flex-grow">Ngày Sinh:</span> {{student.ngaysinh}}</li>
        <li class="flex items-center"><span class="font-bold flex-grow">Địa chỉ:</span> {{student.diachi}}</li>
        <li class="flex items-center"><span class="font-bold flex-grow">Điểm:</span> {{student.diemTB}}</li>
      </ul>
    </div>
  </div>
</div>


<!-- Danh sách nhà bác học -->
<h1 class="font-bold text-center mt-20">Danh sách nhà bác học</h1>
<div class="flex justify-center mt-5">
  <table class="border-collapse border border-slate-400 w-full max-w-4xl table-fixed">
    <thead>
      <tr>
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">First Name</th>
        <th class="px-4 py-2">Last Name</th>
        <th class="px-4 py-2">Year</th>
        <th class="px-4 py-2">Passed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inventor of inventors" class="bg-gray-100">
        <td class="border px-4 py-2 text-center">{{ inventor.id }}</td>
        <td class="border px-4 py-2 text-center">{{ inventor.first }}</td>
        <td class="border px-4 py-2 text-center">{{ inventor.last }}</td>
        <td class="border px-4 py-2 text-center">{{ inventor.year }}</td>
        <td class="border px-4 py-2 text-center">{{ inventor.passed }}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Danh sách sản phẩm -->
<h1 class="font-bold text-center mt-20">Danh sách sản phẩm</h1>
<div class="flex justify-center mt-5">
  <table class="border-collapse border border-slate-400 w-full max-w-4xl table-fixed">
    <thead>
      <tr>
        <th class="px-4 py-2">image</th>
        <th class="px-4 py-2">productName</th>
        <th class="px-4 py-2">productCode</th>
        <th class="px-4 py-2">price</th>
        <th class="px-4 py-2">description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" class="bg-gray-100">
        <td><img [src]="product.imageUrl" alt="Product Image" style="max-width: 60px;"></td>
        <td class="border px-4 py-2 text-center">{{ product.productName }}</td>
        <td class="border px-4 py-2 text-center">{{ product.productCode }}</td>
        <td class="border px-4 py-2 text-center">{{ product.price }}</td>
        <td class="border px-4 py-2 text-center">{{ product.description }}</td>
      </tr>
    </tbody>
  </table>
</div>