<div class="container flex justify-center">
    <div class="card">
        <div class="card-header col-18 text-3xl font-bold mt-2">
            <h4>Product list</h4>
        </div>
        <div class="card-body ">
            <div class="row mb-4 mt-2">
                <label class="col-2">Filter:</label>
                <input type="text" class="col-3 border border-gray-300 rounded-md py-1 px-2 ml-4"
                    [(ngModel)]='filterValue' (input)='filter()'>
                <div class="col-7"></div>
            </div>
            <div class="row mb-4">
                <h2 class="col-12 text-2xl font-bold mt-2">Filter by: </h2>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>5 Star Rating</th>
                        <th>Show/Hide</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products" class="bg-gray-100">
                        <td><img [src]="product.imageUrl" alt="Product Image"
                                [style.display]="showImage ? 'block' : 'none'" style="max-width: 60px;"></td>
                        <td class="border px-4 py-2 text-center mt-2">{{ product.productName }}</td>
                        <td class="border px-4 py-2 text-center mt-2">{{ product.price }}</td>
                        <td class="border px-4 py-2 text-center mt-2">{{ product.productCode }}</td>
                        <td class="border px-4 py-2 text-center mt-2">{{ product.description }}</td>
                        <td>
                            <div class="crop" [style.width.px]="product.starRating*90/5" title="rating">
                                <div class="w-90">
                                    <span class="text-yellow-400">&#9733;</span>
                                    <span class="text-yellow-400">&#9733;</span>
                                    <span class="text-yellow-400">&#9733;</span>
                                    <span class="text-yellow-400">&#9733;</span>
                                    <span class="text-yellow-400">&#9733;</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button (click)="toggleImageVisibility()">Click</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>